# Install:
# - scikit-learn>=0.24.0,<0.25.0 - machine learning library
scikit-learn>=0.24.0,<0.25.0
# - Pandas - data analysis library
pandas>=1.0
# - matplotlib - library for creating static, animated, and interactive visualizations
matplotlib==3.3.0
# - opencv-contrib-python==4.1.2.30 - package for work with images
opencv-contrib-python==4.1.2.30
# - opencv-python==4.1.2.30 - package for work with images
opencv-python==4.1.2.30
# - pybase64==1.1.4 - it aims to provide a fast base64 implementation for base64 encoding/decoding.
pybase64==1.1.4
# - ipywidgets==7.6.3 - IPython HTML widgets for Jupyter
ipywidgets==7.6.3
# - tensorflow==2.5.0 - machine learning library
tensorflow==2.5.0
# - tensorboard==2.5.0 - TensorBoard lets you watch Tensors Flow
tensorboard==2.5.0
# - keras-tuner==1.0.2 - Hypertuner for Keras
keras-tuner==1.0.2
# - autokeras==1.0.15 - AutoML for deep learning
autokeras==1.0.15
# - sklearn==0.0 - a set of python modules for machine learning and data mining
sklearn==0.0
# - seaborn==0.11.1 - statistical data visualization
seaborn==0.11.1
# - torch==1.8 - tensors and Dynamic neural networks in Python with strong GPU acceleration
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
# - torchvision==0.9.1 - image and video datasets and models for torch deep learning
torchvision==0.9.1+cpu
# - torchaudio==0.8.1 - An audio package for PyTorch
torchaudio==0.8.1
# - Archive==0.3 - simple library that provides a common interface for extracting zip and tar archives.
Archive==0.3
# - facenet-pytorch==2.5.1 Required for MTCNN
facenet-pytorch==2.5.1
# - mtcnn==0.1.0 - multi-task Cascaded Convolutional Neural Networks for Face Detection, based on TensorFlow
mtcnn==0.1.0
# - jiwer==2.1.0 - package with some metrics used in OCR
jiwer==2.2.0
# - emcee==3.0.2 - lib pre-requisite of yolov4
emcee==3.0.2
# - scikit-optimize==0.8.1 - lib pre-requisite of yolov4
scikit-optimize==0.8.1
# - pyDOE==0.3.8 - lib pre-requisite of yolov4
pyDOE==0.3.8
# - yolov4==2.0.0 - lib of yolov4
yolov4==2.1.0
# - dump==0.0.5 - Wrapper around psql and pg_dump to make it easier to backup/restore a PostgreSQL database
dump==0.0.5
# - ftools==0.2.10 - Functional programming utilities
ftools==0.2.10
# - Featuretools==0.23.1 -  library for automated feature engineering
featuretools==0.23.1
# - scipy>=1.4.1,<1.5 - Scientific Library for Python
scipy>=1.4.1,<1.5
# - torchtext==0.9.1 - text utilities and datasets for PyTorch
torchtext==0.9.1
# - pytorch-lightning==1.2.8 - is the lightweight PyTorch wrapper for ML researchers. Scale your models. Write less boilerplate.
pytorch-lightning==1.2.8
# - spacy==3.0.1 - library for advanced Natural Language Processing (NLP)
spacy==3.0.1
# - shap==0.37.0 exaplinable AI lib
shap==0.39.0
# - auto-sklearnn==0.12.1 - toolkit for automated machine learning
auto-sklearn==0.12.1
# - gensim==4.0.0b0 - nlp package with many funcionalities pre-implemented
gensim==4.0.0b0
# - nlp==0.4.0 - package with datasets and metric pre implemented for nlp solutions
nlp==0.4.0
# - seldon-core==1.4.0 - client and microservice wrapper
seldon-core==1.4.0
# - transformers==4.3.2 - State-of-the-art Natural Language Processing for TensorFlow 2.0 and PyTorch
transformers==4.3.2
# - Platiagro SDK - helper functions to build components
git+https://github.com/platiagro/sdk.git@master#egg=platiagro[plotting]
